body{
    background-image: url("../images/Happy-Market-Woman.jpg");
    background-size: cover;
    
}
#header {
    color: aliceblue;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}

.example{
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#jubdron {
    color: white;
    padding:5.5rem;

}

.nav-link {
    color: white;
    background-color:none;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    
  }
<<<<<<< HEAD
  .jumbotron {
  width: 500px;
  color: white;
  padding: 30px;
  margin-left: 8cm;

  background-color: rgb(10, 79, 119);
}
.nav-link {
  color: rgb(70, 42, 231);
  background-color: none;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
}

.container-sp {
  justify-content: center;
  background-image: url("../images/Happy-Market-Woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  color: rgb(25, 117, 197);
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}

.form-control {
  padding: 5px;
}
#but {
  height: 40px;
  width: 438px;
}
#bata {
  border-color: rgb(25, 117, 197);
  color: rgb(25, 117, 197);
  font-weight: bold;
}

=======

  .btn-danger1 {
    color: blue;
    background-color:white;
    border-color:white;
    width: 100%;
    border-radius: 5.5rem;
    font-weight: bolder;
    font-size: 20px;
  }

  .btn-danger2 {
    color: blue;
    background-color: white;
    border-color: white;
    font-weight: bolder;
    font-size: 20px;
  }

  #footer {
      text-align: center;
      color: white;
  }
>>>>>>> 4c100b33566105c8b877de79dc401747334fed1d
